// Position Absolute
@mixin abs-pos ($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}
// Background Image
@mixin backgroundImg ($url,$size,$position,$repeat){
  background-image:url($url);
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}
