// Position Absolute
@mixin abs-pos ($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}
// Background Image Cover
@mixin backgroundCover ($url){
  background-image:url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
