// Main Colors
$mainA:#69bf14; //green
$mainB:#1975c0; //blue
$green200:#77c932;
$green400:#5ca323;
$gray200:#e9e9e9;
$gray300:#afaeae;
$gray400:#6b6b6b;
$white:#fff;
$black:#000;
// Text Font
$parXxs: 10px;
$parXs: 12px;
$parS:14px;
$titleH3:20px;
$titleH2:27px;
$titleL:50px;
// Font Weight
$weightM:600;
$weightMl:700;
$weightL:800;
$weightS:300;
// Font Style
$italic: italic;
// Letter Spacing
$spacingM:1px;
// Text UPPERCASE
$txt_Trsf:uppercase;
$txtCap: capitalize;
// Icon Size
$iconXs:10px;
$iconS:15px;
$iconM:18px;
// Border Radius
$radiusM:15px;
// Line Height
$heightM:25px;
