<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- google_fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <!-- /google_fonts -->
  <!-- vue.js_cdn_dev_version -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- vue.js_cdn_dev_version -->
  <!-- font_awesome_cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- /font_awesome_cdn -->
  <!-- stylesheet -->
  <link rel="stylesheet" href="dist/app.css">
  <!-- /stylesheet -->
  <title>Movers</title>
</head>
<body>
  <!-- wrapper -->
  <div id="app" class="wrapper">
    <!-- header -->
    <header class="header_section">
      <!-- top_nav_bar -->
      <div class="top_nav_bar">
        <div class="container_l nav_Flex">
          <div class="phone_number flex">
            <i class="fas fa-phone mr-2"></i>
            <p class="calling mt-1 mb-1">Call us for a Free Quote 1.800.555.6789</p>
          </div>
          <div class="socials_list">
            <ul class="flex mt-1 mb-1">
              <li v-for="(item,index) in icons" v-if="index <= 3"><a class="ml-2" href="#"><i :class="`fab fa-${item.icon}`"></i></a></li>
              <!-- <li><a class="ml-2" href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="ml-2" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="ml-2" href="#"><i class="fab fa-instagram"></i></a></li>
              <li class="ml-2"><a href="#"><i class="fab fa-youtube"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <!-- /top_nav_bar -->
      <div class="hero_wrapper">
        <!-- bottom_nav_bar -->
        <div class="bottom_nav_bar container_l nav_Flex">
          <!-- logo -->
          <div class="logo flex_al">
            <img src="img/avada-movers-retinalogo.png" alt="movers_logo">
          </div>
          <!-- /logo -->
          <div class="menu flex">
            <!-- links -->
            <ul class="flex">
              <li class="ml-6" v-for="(item,index) in avadaLinks" v-if="index <= 5"><a href="#">{{item.title}}</a></li>
              <!-- <li class="ml-6"><a href="#">home</a></li>
              <li class="ml-6"><a href="#">raters</a></li>
              <li class="ml-6"><a href="#">testimonials</a></li>
              <li class="ml-6"><a href="#">FAQ</a></li>
              <li class="ml-6"><a href="#">blog</a></li>
              <li class="ml-6"><a href="#">contact</a></li> -->
            </ul>
            <button class="ml-6" type="button" name="button">free quote</button>
            <!-- /links -->
          </div>
        </div>
        <!-- /bottom_nav_bar -->
        <!-- hero -->
          <div class="container_m txt_center">
            <p class="above_below_title">moving without the hassle</p>
            <h1 class="mt-2 mb-2">we make it simple</h1>
            <p class="above_below_title">professional service with quality and customer satisfaction</p>
          </div>
        <!-- /hero -->
      </div>
      <!-- cta -->
      <div class="cta_section flex">
        <i class="far fa-paper-plane mr-2"></i>
        <p class="mt-8 mb-8">get a free quote online now!</p>
      </div>
      <!-- /cta -->
    </header>
    <!-- /header -->
    <!-- main -->
    <main class="main_section txt_center">
      <!-- award_section -->
      <div class="first_section_wrapper">
        <div class="first_section container_m pb-8">
          <p class="above_below_title pt-16 pb-2">headache free</p>
          <h2 class="section_title">award winning <br> moving company</h2>
          <p class="smooth_par">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button type="button" name="button">read our testimonials</button>
        </div>
      </div>
      <!-- /award_section -->
      <!-- professionals_section -->
      <div class="second_section container_l pb-15">
        <p class="above_below_title pt-16 pb-2">we are professional</p>
        <h2 class="section_title">full-service solution</h2>
        <div class="flex_boxes pt-4">
          <div class="box">
            <img src="img/avada-movers-serviceonephoto-final-600x383.jpg" alt="logo_image">
            <h3 class="third_title">two man teams</h3>
            <p class="smooth_par pr-4 pl-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button type="button" name="button">read more</button>
          </div>
          <div class="box">
            <img src="img/avada-movers-servicetwophoto-final-600x383.jpg" alt="logo_image">
            <h3 class="third_title">we do all the lifting</h3>
            <p class="smooth_par pr-4 pl-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button type="button" name="button">read more</button>
          </div>
          <div class="box">
            <img src="img/avada-movers-servicethreephoto-final.jpg" alt="logo_image">
            <h3 class="third_title">coast to coast</h3>
            <p class="smooth_par pr-4 pl-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button type="button" name="button">read more</button>
          </div>
        </div>
      </div>
      <!-- /professionals_section -->
      <!-- ease_section -->
      <div class="ease_section_wrapper pt-60 pb-60">
        <div class="container_m pb-4">
          <p class="above_below_title pt-6 pb-3">we remove the headache from moving</p>
          <h2 class="section_title">move with ease</h2>
          <p class="smooth_par pt-4 pl-8 pr-8 pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button type="button" name="button">get a free quote now</button>
        </div>
      </div>
      <!-- /ease_section -->
      <!-- testimonials_section -->
      <div class="fourth_section_wrapper">
        <div class="fourth_section container_l pb-15">
          <p class="above_below_title pt-16 pb-2">happy customers</p>
          <h2 class="section_title">testimonials</h2>
          <div class="flex_boxes pt-4 pb-10">
            <div class="box">
              <img src="img/avada-movers-johndoe-final.jpg" alt="johndoe_photo">
              <h3 class="third_title">john doe</h3>
              <p class="smooth_par">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
            </div>
            <div class="box">
              <img src="img/avada-movers-janedoe-final.jpg" alt="janedoe_photo">
              <h3 class="third_title">jane doe</h3>
              <p class="smooth_par">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
            </div>
            <div class="box">
              <img src="img/avada-movers-johnsmith-final.jpg" alt="th_photo">
              <h3 class="third_title">john smith</h3>
              <p class="smooth_par">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
            </div>
          </div>
          <button type="button" name="button">read our testimonials</button>
        </div>
      </div>
      <!-- /testimonials_section -->
      <!-- request_section -->
      <div class="fifth_section_wrapper">
        <div class="fifth_section container_m pt-15 pb-10">
          <h2 class="section_title">request a free quote</h2>
          <p class="smooth_par">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button type="button" name="button">click here</button>
        </div>
      </div>
      <!-- /request_section -->
    </main>
    <!-- /main -->
    <!-- footer -->
    <footer class="footer_section">
      <div class="top_footer">
        <div class="container_l">
          <!-- box_1 -->
          <div class="box mt-8 mb-8">
            <h4>about</h4>
            <div class="par_mage flex_col">
              <p class="smooth_par mr-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <div class="logo flex_al">
                <img src="img/avada-movers-retinalogo.png" alt="movers_logo">
              </div>
            </div>
          </div>
          <!-- /box_1 -->
          <!-- box_2 -->
          <div class="box mt-8 mb-8">
            <h4>avada movers</h4>
            <ul class="flex_col">
              <li v-for="(item,index) in avadaLinks" v-if="index !=3 && index !=5"><a href="#"><i class="fas fa-chevron-right pr-1"></i>{{item.title}}</a></li>
              <!-- <li><a href="#"><i class="fas fa-chevron-right pr-1"></i>home</a></li>
              <li><a href="#"><i class="fas fa-chevron-right pr-1"></i>rates</a></li>
              <li><a href="#"><i class="fas fa-chevron-right pr-1"></i>testimonials</a></li>
              <li><a href="#"><i class="fas fa-chevron-right pr-1"></i>blog</a></li>
              <li><a href="#"><i class="fas fa-chevron-right pr-1"></i>free quote</a></li> -->
            </ul>
          </div>
          <!-- /box_2 -->
          <!-- box_3 -->
          <div class="box mt-8 mb-8">
            <h4>recent posts</h4>
            <ul class="flex_col">
              <li v-for="item in recentPost"><a href="#"><i class="fas fa-chevron-right pr-1"></i>{{item.title}}</a></li>
              <!-- <li><a href="#"><i class="fas fa-chevron-right pr-1"></i>heading out to collage?</a></li>
              <li><a href="#"><i class="fas fa-chevron-right pr-1"></i>moving your business?</a></li>
              <li><a href="#"><i class="fas fa-chevron-right pr-1"></i>outstanding quality</a></li>
              <li><a href="#"><i class="fas fa-chevron-right pr-1"></i>cost of moving</a></li>
              <li><a href="#"><i class="fas fa-chevron-right pr-1"></i>best moving tips</a></li> -->
            </ul>
          </div>
          <!-- /box_3 -->
        </div>
      </div>
      <div class="bottom_footer">
        <div class="upper_sec">
          <ul class="flex pt-5">
            <li v-for="item in credits" class="pr-2 mr-2"><a href="#"><i v-show="item.title.includes('copiright')" class="far fa-copyright pr-1"></i>{{item.title}}</a></li>
            <!-- <li class="pr-2 mr-2"><a href="#"><i class="far fa-copyright pr-1"></i>copiright 2012 - 2020</a></li>
            <li class="pr-2 mr-2"><a href="#">avada theme by theme fusion</a></li>
            <li class="pr-2 mr-2"><a href="#">all rights reserved</a></li>
            <li><a href="#">powered by word press</a></li> -->
          </ul>
        </div>
        <div class="lower_sec">
          <ul class="flex mt-5 pb-6">
            <li v-for="item in icons"><a class="ml-2" href="#"><i :class="`fab fa-${item.icon}`"></i></a></li>
            <!-- <li><a class="ml-2" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="ml-2" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="ml-2" href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="ml-2"><a href="#"><i class="fab fa-youtube"></i></a></li> -->
          </ul>
        </div>
      </div>
    </footer>
    <!-- /footer -->
  </div>
  <!-- /wrapper -->
  <!-- script_file -->
  <script src="js/script.js" charset="utf-8"></script>
  <!-- /script_file -->
</html>
