// Bottom Footer
.bottom_footer{
  background-color: $mainA;
  & .upper_sec{
    & a{
      color: $white;
      font-size: $parXxs;
      & i{
        font-size: $iconXs;
      }
    }
    & li:not(:last-child){
      border-right: 1px solid $white;
    }
  }
  & .lower_sec{
    & i{
      font-size: $iconM;
    }
  }
}
