// General Button Rules
button{
  background-color: $mainB;
  border: none;
  color: $white;
  font-size: $parXxs;
  font-weight: 700;
  padding: 10px;
  border-radius: $radiusM;
  letter-spacing: $spacingM;
  text-transform: $txt_Trsf;
  cursor: pointer;
  min-width: 120px;
}
button:focus {
  outline: none;
  box-shadow: none;
}
