// Containers
.container_m{
  max-width: 500px;
  margin: 0 auto;
}
.container_l{
  max-width: 900px;
  margin: 0 auto;
}
// Box Structure
.container_l{
  & .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33.3%;
  }
}
