.bottom_nav_bar{
  & .logo{
    width: 150px;
    height: 60px;
    & img{
      width: 70%;
      height: 70%;
    }
  }
  & .menu{
    & li{
      font-size: $parXs;
      font-weight: $weightM;
    }
  }
}
