// Reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// /Reset
body{
  font-family: 'Roboto', sans-serif;
}
// Containers
.container_l{
  max-width: 900px;
  margin: 0 auto;
}
.container_m{
  max-width: 500px;
  margin: 0 auto;
}
// Typo
.txt_center{
  text-align: center;
}
// /Typo
// Style
// 4 Every Button
button{
  background-color: $mainB;
  border: none;
  color: $white;
  font-size: $parXxs;
  font-weight: 700;
  padding: 10px;
  border-radius: $radiusM;
  min-width: 100px;
  letter-spacing: $spacingM;
  text-transform: $txt_Trsf;
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: none;
}
// No Dots on <li>
li{
  list-style: none;
}
// Icons Color
i{
  color: $white;
}
a{
  text-decoration: none;
  color: $black;
}
