.main_section{
  & .above_below_title{
    color: $gray300;
    padding: 80px 0 10px;
  }
  & .flex_boxes{
    display: flex;
    justify-content: space-between;
    & .box{
      flex-basis: 30%;
    }
  }
  & img{
    width: 100%;
  }
  & button{
    margin: 20px 0;
  }
}
