// General Icons Color
i{
  color: $white;
}
// Specific Rules for Icons in top_nav_bar
.top_nav_bar{
  & i{
    font-size: $iconS;
  }
}
// Specific Rules for Icon in cta_section
.cta_section{
  i{
    font-size: $iconS;
  }
}
// Specific Rules for Icon (chevron) in top_footer
.top_footer{
  i{
    font-size: $iconXs;
    color: $black;
  }
}
// Specific Rules for Icons in bottom_footer/lower_sec
.bottom_footer{
  & .lower_sec{
    & i{
      font-size: $iconM;
    }
  }
}
