// About Award Section
.award_section_wrapper{
  background: rgb(251,252,254);
  background: linear-gradient(180deg, rgba(251,252,254,1) 0%, rgba(241,245,248,1) 100%);
}
// About Ease Section
.ease_section_wrapper{
  background-image: url('../img/avada-movers-movewithease-background-new.jpg');
  background-size:cover;
  position: relative;
}
// About Testimonials Section
.testimonials_section_wrapper{
  background-image: url('../img/avada-movers-testimonial-background.jpg');
  background-size: cover;
}
// // About Request Section
.request_section_wrapper{
  background-image: url('../img/avada-movers-request-quote-background.jpg');
}
