// About Professionals Section
.professionals_section{
  & .box{
    border: 15px solid $gray200;
    & img {
      border-bottom: 15px solid $gray200;
    }
  }
}
// About Ease Section
.ease_section_wrapper{
  & .container_m{
    position: absolute;
    top:25%;
    left: 50%;
    background-color: $mainA;
    border: 12px solid $green400;
    & p,.section_title{
      color:$white;
    }
    & .section_title{
      border-bottom: 1px solid $green200;
      width: 250px;
      margin: auto;
    }
  }
}
// About Testimonials Section
.testimonials_section_wrapper{
  & .box{
    & img{
      border-radius: 50%;
      width: 40%;
    }
    & p{
      font-style: $italic;
    }
  }
}
