// Containers
.container_l{
  max-width: 900px;
  margin: 0 auto;
}
.container_m{
  max-width: 500px;
  margin: 0 auto;
}
// Box Structure
.container_l{
  display: flex;
  & .box{
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
    margin: 40px 0;
  }
}
