.top_nav_bar{
  background-color: $mainA;
  color: $white;
  & .container_l{
    & .phone_number{
      & .calling{
        font-size: $parXs;
      }
    }
    & i{
      font-size: $iconS;
    }
  }
}
