// Typo
.txt_center{
  text-align: center;
}
// Paraghraphs
.smooth_par{
  line-height: $heightM;
  font-size: $parXs;
}
.above_below_title{
  color: $gray400;
  text-transform: $txt_Trsf;
  font-size: $parXs;
  font-weight: $weightM;
}
// h2's
.section_title{
  color: $mainA;
  font-size: $titleH2;
  text-transform: $txtCap;
  font-weight: $weightL;
  padding-bottom: 15px;
}
// h3's
.third_title{
  color:$mainB;
  text-transform: $txtCap;
  font-size: $titleH3;
  margin: 20px 0;
}
