// Typo
.txt_center{
  text-align: center;
}
// 4 Paraghraphs
.smooth_par{
  line-height: $heightM;
  font-size: $parXs;
}
.above_below_title{
  color: $gray400;
  text-transform: $txt_Trsf;
  font-size: $parXs;
  font-weight: $weightM;
}
// /Typo
