// Bottom Nav Bar
.bottom_nav_bar{
  & .logo{
    width: 150px;
    height: 70px;
    & img{
      width: 90%;
      height: 90%;
    }
  }
  & li{
    font-weight: $weightM;
    & a:hover{
      color: #69bf14;
    }
  }
}
