// About Testimonials Section
.testimonials_section_wrapper{
  background-image: url('../img/avada-movers-testimonial-background.jpg');
  background-size: cover;
  .box{
    img{
      border-radius: 50%;
      width: 40%;
    }
    p{
      font-style: $italic;
    }
  }
  button{
    min-width: 200px;
  }
}
